* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .clearfix::after {
    content:"";
    display: table;
    clear: both;
  }
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
  .container {
    width: 80%;
    margin: auto;
  }
/* /impostazioni generali */
i {
  padding: 0px 10px;
  }
#earth {
padding-left: 0px;
}

/* prima-seconda riga */
.border {
  background-color: #F4F9FD;
  border-bottom:1px solid #33475B;
}
.raw {
  height: 100px;
  position: relative;
}

.language {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.login {
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.left li:first-child {
  border-right: 1px solid #33475B;
  padding-right: 10px;
}
.top li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.top li a {
  color: #33475B;
  text-decoration: none;
}
.btn {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
.btn.log {
  background-color: #fff;
  color: #FF7A59;
  border:1px solid #FF7A59;
}
.btn.free {
  background-color: #FF7A59;
  color: #fff;
  border: none;
}
/* /prima-seconda riga */
/* banner */
.third-raw {
  background-color: #FFF2EE;
  height: 575px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
.banner {
  color: #33475B;
}
.width {
  width: 35%;
}
.third-raw h1 {
  line-height: 35px;
  padding-top: 50px;
  font-weight: 900;
}
.third-raw p {
  line-height: 25px;
  padding: 30px 0;
}
.third-raw .btn.free {
  padding:20px;
  margin-bottom: 30px;
}
.third-raw small {
  font-size: 10px;
}
/* /banner */
/* riga azzurra */
.empty {
  background-color: #A1E8DF;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* /riga azzurra */
